{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-param-reassign": [1, { "props": false }],
    "camelcase": 1
  }
}
